#searchtitle{
    color: goldenrod;
    font-size: 26px;
    text-align:center;
}
#searchbox{
    text-align:right;
}
body{
    background-color: aquamarine;
}
table th,td{
    border: 2px solid;   
}
#id{
    background-color: aqua;
}
#name{
    background-color: rebeccapurple;
}
#email{
    background-color: rgb(27, 203, 180);
}
#gender{
    background-color: rgb(33, 191, 52);
}
#IPA{
    background-color: rgb(227, 5, 86);
}
#data-container td:nth-child(1){
    background-color: rgb(193, 244, 244);
}
#data-container td:nth-child(2){
    background-color: rgb(146, 116, 175);
}
#data-container td:nth-child(3){
    background-color: rgb(135, 201, 192);
}
#data-container td:nth-child(4){
    background-color: rgb(129, 182, 135);
}
#data-container td:nth-child(5){
    background-color: rgb(218, 148, 173);
}